# GIT IGNORE FILES
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pickle
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg
health-api/
.ipynb_checkpoints/
*.log
uploads/
tmp/
temp/
*.cache
*.tmp
.cache/
tmp/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.code-workspace
.env